*{
	margin:0;
	padding:0;
}
.wrapper{
	position:relative;
	width:100%;
	height:100%;
	background-image: url(1006.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-position:center top
}
.content{
	position:absolute;
	margin-top:15%;
	/* margin-bottom:20%; */
	margin-left:30%;
	/* margin-right:25%; */
	width:400px;
	height:400px;
	background-color:#fff;
	box-shadow: 0px 0px 20px #ccc;
	z-index:1;
	padding-top:50px;
    padding-bottom:50px;
	/* padding-left:50px;
    padding-right:50px; */
}
.reject,.load{
	display:inline-block;
	/* margin-top:20px; */
	font-size:22px;
	line-height:32px;
	text-align:center;
	height:32px;
	width:37.5%;
}
.reject{
	margin-left: 50px;
	color:skyblue;
}
.rejectLine,.loadLine{
	display:inline-block;
	background-color:#e8ebed;
	width:37.5%;
	height:2.5px;
}
.rejectLine{
	margin-left: 50px;
	background-color:skyblue;
}
input{
	margin-left:50px;
	width:300px;
	height:40px;
	font-size:18px;
	outline:none;
}
.one{
	color:#e8ebed;
	box-sizing:content-box;
	/* box-sizing:content-box; */
	/* margin-left:45px; */
	/* margin: right 45px; */
	width:300px;
	margin-top: 10px;
	/* padding-left:34px; */
	border-style:none;
	border-bottom-style:inset;
}
.two{
	color:#e8ebed;
	box-sizing:content-box;
	/* margin-left:45px; */
	/* width:400px; */
	margin-top: 10px;
	/* padding-left:38px; */
	border-style:none;
	border-bottom-style:inset;
}
.im,.im2{
	position:absolute;
	display:inline-block;
	left:22px;
	width:34px;
	height:34px;
	background-size:100% 100%;
	background-repeat:no-repeat;
}
.im{
	top:43px;
	/* background-image: url(u02.jpg); */
}
.im2{
	top:123px;
	/* background-image: url(u01.jpg); */
}
.buttonContent{
	/* margin:60px auto; */
	height:40px;
	width:100%;
}
.buttonOne,.buttonTwo{
	margin-top:80px;
	margin-left:90px;
	display:block;
	width:200px;
	height:40px;
	border:0px;
	outline:none;
	border-radius:20px;
	color:#fff;
	background-color:skyblue;
	font-size:20px;
}
.textStart,.passStart{
	color:skyblue;
}
#remember,
#remember1{
	width:20px;
	height:20px;
	line-height:40px;
	margin-top:30px;
	margin-left:50px;
	margin-right:5px;
}
.number1{
	margin-left:50px;
	margin-top:70px;
	font-size:18px;
	color: rgb(168, 163, 163);
}
.number2{
	margin-left:50px;
	margin-top:30px;
	font-size:18px;
	color: rgb(168, 163, 163);
}
.label1{
	float:left;
}
.label2{
	float:right;
}
.rejecting{
	position:absolute;
	left:0px;
	top:65px;
	z-index:1;
	opacity:1;
}
.loading{
	position:absolute;
	left:0px;
	top:65px;
	z-index:0;
	opacity:0;
}